 body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 819px;
	 height: 460px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #L1 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 819px;
	 height: 460px;
	 z-index:1;
} 
