@import url(https://fonts.googleapis.com/css?family=Poiret+One); 

body {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  padding-top: 1em;
  background: #222;
}
ol {
  background-color: black;
  display: inline-block;
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0 0.5em;
  height: 6em;
  overflow: hidden;
  min-width: 590px;
  border-style: solid;
  border-color: black;
  border-width: 20px 10px;
}

li {
  float: left;
  padding: 0 0.5em;
  background-color: #333;
  margin: 0 0.5em;
  font-family: Poiret One, monospace;
  color: #ddd;
}

div {
  float: left;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

span {
  display: block;
  font-size: 6em;
  line-height: 1em;
}

.sec .one {
  animation-name: one-step-sec;
  animation-duration: 10s;
}

.sec .ten {
  animation-name: ten-step-sec;
  animation-duration: 60s;
}

.min .one {
  animation-name: one-step-min;
  animation-duration: 600s;
}

.min .ten {
  animation-name: ten-step-min;
  animation-duration: 3600s;
}

.hour .one {
  animation-name: one-step-hour;
  animation-duration: 36000s;
}

.hour .ten {
  animation-name: ten-step-hour;
  animation-duration: 360000s;
}

@keyframes one-step-sec {
  from {
    top: 0;
  }
  to {
    top: -60em; 
  }
}

@keyframes ten-step-sec {
  15% { top: 0; }
  16.66666666666667%, 31.66666666666667% { top: -6em;}
  33.33333333333334%, 48.33333333333333% { top: -12em;}
  50%, 65% { top: -18em;}
  66.66666666666668%, 81.66666666666667% { top: -24em;}
  83.33333333333335%, 98.33333333333333% { top: -30em;}
  100% { top: -36em;}
}

@keyframes one-step-min {
  9.83% { top: 0; }
  10%, 19.83% { top: -6em;}
  20%, 29.83% { top: -12em;}
  30%, 39.83% { top: -18em;}
  40%, 49.83% { top: -24em;}
  50%, 59.83% { top: -30em;}
  60%, 69.83% { top: -36em;}
  70%, 79.83% { top: -42em;}
  80%, 89.83% { top: -48em;}
  90%, 99.83% { top: -54em;}
  100% { top: -60em;}
}

@keyframes ten-step-min {
  16.6383% { top: 0; }
  16.66666666666667%, 33.30496% { top: -6em;}
  33.33333333333334%, 49.97163% { top: -12em;}
  50%, 66.638296% { top: -18em;}
  66.66666666666668%, 83.30496% { top: -24em;}
  83.33333333333335%, 99.97163% { top: -30em;}
  100% { top: -36em;}
}

@keyframes one-step-hour {
  9.83% { top: 0; }
  10%, 19.83% { top: -6em;}
  20%, 29.83% { top: -12em;}
  30%, 39.83% { top: -18em;}
  40%, 49.83% { top: -24em;}
  50%, 59.83% { top: -30em;}
  60%, 69.83% { top: -36em;}
  70%, 79.83% { top: -42em;}
  80%, 89.83% { top: -48em;}
  90%, 99.83% { top: -54em;}
  100% { top: -60em;}
}

@keyframes ten-step-hour {
  9.83% { top: 0; }
  10%, 19.83% { top: -6em;}
  20%, 29.83% { top: -12em;}
  30%, 39.83% { top: -18em;}
  40%, 49.83% { top: -24em;}
  50%, 59.83% { top: -30em;}
  60%, 69.83% { top: -36em;}
  70%, 79.83% { top: -42em;}
  80%, 89.83% { top: -48em;}
  90%, 99.83% { top: -54em;}
  100% { top: -60em;}
}