*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 40px;
    margin: 5px auto;
    position: relative;
    background-color: rgb(255, 237, 163);
}
.container{
    width: 90%;
    padding: 0;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.box{
    width: 200px;
    margin: 0 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 1);
    transition: 1s;
}
.box img{
    display: block;
    width: 100%;
    height: 95%;
    border-radius: 0 0 5px 5px;

}
.box:hover{
    transform:scale(1.3);
    z-index: 2;
}
.content{
    text-align: center;

}
