.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
    
}
.w-full{
    background: rgba(233, 238, 232, 0.644);
    
}
.mb-10{
    background: rgba(1, 19, 24, 0.644);
    
}
.mb-10{
    background: rgba(1, 19, 24, 0.644);
    
} 

