.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
}

.carousel-indicators [data-bs-target] {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.carousel-control-next, .carousel-control-prev{
    &:hover {
        background: rgba(0, 0, 0, 0.6);
    }
}

.carousel-item {
    >img {
        object-fit: cover;
    }
}

.khairul-bashar-dark {
    background: rgba(0, 0, 0, 0.6);
}