*{  
    padding: 10px auto;
    box-sizing: border-box;
}

.abc{
     width: 900px;
    height: 120px;
    background-color: black;
}
.efg{
    
    width: 900px;
    height: 120px;
    background-color: red;
}
.hij{
    
    width: 900px;
    height: 120px;
    background-color: yellow;
}
.klm{ 
    padding:;
    color: yellowgreen;
     width: 950px;
}
.nop{ 
    width: 900px;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    color: rgb(40, 42, 38);
    background-color:darkgrey;
    
    
}